<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sikiedu.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.sikiedu.bean.User">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_username" jdbcType="VARCHAR" property="uUsername" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_createTime" jdbcType="TIMESTAMP" property="uCreatetime" />
    <result column="u_cid" jdbcType="INTEGER" property="uCid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    u_id, u_username, u_password, u_sex, u_createTime, u_cid
  </sql>
  <select id="selectByExample" parameterType="com.sikiedu.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sikiedu.bean.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sikiedu.bean.User">
    insert into user (u_id, u_username, u_password, 
      u_sex, u_createTime, u_cid
      )
    values (#{uId,jdbcType=INTEGER}, #{uUsername,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uSex,jdbcType=VARCHAR}, #{uCreatetime,jdbcType=TIMESTAMP}, #{uCid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sikiedu.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uUsername != null">
        u_username,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uCreatetime != null">
        u_createTime,
      </if>
      <if test="uCid != null">
        u_cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uUsername != null">
        #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uCreatetime != null">
        #{uCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uCid != null">
        #{uCid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sikiedu.bean.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uUsername != null">
        u_username = #{record.uUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.uPassword != null">
        u_password = #{record.uPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.uSex != null">
        u_sex = #{record.uSex,jdbcType=VARCHAR},
      </if>
      <if test="record.uCreatetime != null">
        u_createTime = #{record.uCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uCid != null">
        u_cid = #{record.uCid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set u_id = #{record.uId,jdbcType=INTEGER},
      u_username = #{record.uUsername,jdbcType=VARCHAR},
      u_password = #{record.uPassword,jdbcType=VARCHAR},
      u_sex = #{record.uSex,jdbcType=VARCHAR},
      u_createTime = #{record.uCreatetime,jdbcType=TIMESTAMP},
      u_cid = #{record.uCid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sikiedu.bean.User">
    update user
    <set>
      <if test="uUsername != null">
        u_username = #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uCreatetime != null">
        u_createTime = #{uCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uCid != null">
        u_cid = #{uCid,jdbcType=INTEGER},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sikiedu.bean.User">
    update user
    set u_username = #{uUsername,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_createTime = #{uCreatetime,jdbcType=TIMESTAMP},
      u_cid = #{uCid,jdbcType=INTEGER}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>